[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
retry_files_enabled = False
roles_path = /home/runner/work/back/back/ansible/roles

[ssh_connection]
timeout = 30